@import "../../shared/other-style/mixins", "../../shared/other-style/adaptive";

.root {
  margin-block: 26px 80px;
  &__wrapper {
    @include flex-gap(32px);
    align-items: start;

    @include tablet {
      flex-direction: column;
      align-items: center;
    }
  }

  &__breadcrumbs {
    margin-bottom: 42px;
  }

  &__type {
    margin-bottom: 24px;
    position: relative !important;
    width: max-content;
    inset: 0 !important;
  }

  &__gallery {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    gap: 32px;
    &.isOneImg {
      grid-template-columns: minmax(0, 1fr);
    }
    img {
      width: 100%;
      max-width: 480px;
      object-fit: contain;
      background: var(--gradient-circle);
      padding: 17px 40px 14px 41px;
      height: 100%;
    }
  }

  &__text-content {
    @include flex-column;
    max-width: 480px;
    width: 100%;
  }

  &__title {
    font-size: 42px;
    font-weight: 700;
    line-height: 44px;
    margin-bottom: 20px;
    color: var(--color-white-1);
    @include mobile {
      font-size: 24px;
      line-height: 32px;
    }
  }

  &__text {
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    color: var(--color-gray-6);
    span {
      color: var(--color-gray-10);
    }
  }

  &__stock {
    margin-bottom: 26px;
  }

  &__color {
    margin-bottom: 24px;
  }

  &__size {
    margin-bottom: 12px;
  }

  &__sizesList {
    margin-bottom: 8px;
  }

  &__linkToTable {
    color: var(--color-emerald);

    background-color: transparent;
    margin-bottom: 24px;
    text-decoration: underline;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    width: max-content;
    text-decoration: underline;
    transition-property: color;
    transition-duration: var(--duration);

    &:hover {
      color: var(--color-green-1);
    }
  }

  &__quantity {
    margin-bottom: 12px;
  }

  &__addBtnAndCounter {
    margin-bottom: 40px;
  }

  &__block {
    @include flex-center-beetwen;
    margin-bottom: 16px;
    &__price {
      color: var(--color-emerald);
      font-size: 24px;
      font-weight: 500;
    }
  }

  &__panel {
    @include flex-gap(16px);

    margin-bottom: 9px;

    &__button {
      --duration: 0.2s;
      @include square(48px);
      border-radius: 50%;

      @include inline-flex-center;
      background-color: var(--color-blue-dark-1);
      svg {
        display: block;
        transition-property: fill;
        transition-duration: var(--duration);
        width: 24px;
        height: 24px;
        fill: var(--color-white-1);
      }

      &:hover svg {
        fill: var(--color-emerald);
      }
    }
  }
}
