@import "../../shared/other-style/mixins", "../../shared/other-style/adaptive";
.root {
  --fontColorDefoult: var(--color-gray-1);
  --duration: 0.5s;
  --hoverColor: var(--color-light-violet);
  background-color: var(--color-gray-4);
  max-width: 1065px;
  width: 100%;
  height: 717px;
  @media screen and (max-width: 600px) {
    min-height: 100dvh;
    margin: 0;
  }
  transition-property: transform;
  transition-duration: var(--duration);

  transform: translateY(-200%);
  overflow: hidden;

  &[open] {
    transform: translateY(0%);
  }

  &__inner {
    position: relative;
    padding-block: 30px;
    height: 100%;
    // background-image: url(../../../public/menu_bg.png);
    // background-position: center;
    // background-repeat: no-repeat;
    // background-size: cover;
  }

  &__header {
    display: flex;
    /* justify-self: end; */
    align-items: center;
    margin-bottom: 40px;

    h2 {
      margin: auto;
      color: var(--color-gray-light);
    }
  }

  &__close {
    cursor: pointer;
    padding: 10px;
    &:hover,
    &:active {
      svg {
        fill: var(--hoverColor);
      }
    }

    svg {
      display: block;
      width: 24px;
      height: 24px;
      fill: var(--color-gray-light);
    }
  }

  &__search {
    margin-bottom: 15px;
  }

  &__products {
    max-height: 336px;
    overflow-y: auto;
    scroll-snap-type: y mandatory;
    height: 1000px;
    overflow-y: auto;
    scroll-snap-type: y mandatory;

    &::-webkit-scrollbar {
      width: 8px;
    }

    &::-webkit-scrollbar-thumb {
      /* плашка-бегунок */
      width: 109px;
      height: 10px;
      border-radius: 10px;
      transition-property: background;
      transition-duration: var(--duration);
      background-color: var(--color-light-violet);
      &:hover {
        background: var(--color-violet);
      }
    }
    &::-webkit-scrollbar-track {
      /* фон */

      background-color: transparent; /* фон */
    }

    &__list {
      @include flex-column;
      gap: 30px;
      max-height: max-content;

      &__item {
        scroll-snap-align: start;
      }
    }
  }

  &__empty {
    @include flex-column;
    align-items: center;
    gap: 15px;
    margin: 30px auto;

    span {
      color: var(--color-gray-light);
      font-size: 26px;
    }

    svg {
      width: 100px;
      height: 100px;
      fill: var(--color-gray-light);
    }
  }

  &__loader {
    margin: 50px auto;
    width: max-content;
  }
}
