@import "../../../../shared/other-style/mixins";
@import "../../../../shared/other-style/mixins";

.root {
  --bgImage: var(--gradient-circle);
  padding-block: 0 20px;
  @include flex-center-beetwen;
  border-bottom: 1px solid var(--color-blue-dark-1);

  &__image {
    object-fit: contain;
    background: var(--bgImage);
  }

  &__title {
    font-size: 16px;
    font-weight: 700;
    line-height: 20px;
    color: var(--color-gray-10);
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 180px;
    width: 100%;
    text-align: center;
    text-wrap: nowrap;
  }

  &__sizes {
    color: var(--color-gray-10);
    font-size: 16px;
    font-weight: 400;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 160px;
    width: 100%;
    text-wrap: nowrap;
  }

  &__priceOne {
    @include flex-column;
    gap: 4px;

    &__price {
      text-align: right;
      font-size: 16px;
      font-weight: 500;
      color: var(--color-gray-light);
    }

    &__sub {
      font-size: 12px;
      font-weight: 400;
      line-height: 16px;
      color: var(--color-gray-6);
    }
  }

  &__counter {
    @include flex-center-beetwen;
    max-width: 160px;
    height: 48px;
    padding-inline: 16px;
    border-radius: 24px;
    width: 100%;
    background-color: var(--color-white-opacity6);

    &__quantity {
      font-size: 13px;
      font-weight: 400;
      line-height: 20px;
      color: var(--color-white-opacity90);
    }
    button {
      @include inline-flex-center;
      @include square(24px);
      cursor: pointer;
    }

    svg {
      fill: var(--color-white-opacity40);
    }

    &__minus {
      width: 12px;
      height: 1.5px;
    }

    &__plus {
      width: 12px;
      height: 12px;
    }
  }

  &__priceFull {
    font-size: 16px;
    font-weight: 500;
    color: var(--color-gray-light);
  }

  &__delete {
    @include inline-flex-center;
    @include square(35px);
    border-radius: 50%;
    --duration: 0.2s;
    cursor: pointer;
    &:hover {
      svg {
        fill: var(--color-red);
      }
    }
    @include hover-btn(
      var(--color-white-opacity10),
      var(--color-white-opacity40)
    );

    svg {
      transition-duration: var(--duration);
      transition-property: fill;
      fill: var(--color-gray-light);
      width: 15.99px;
      height: 18px;
    }
  }
}

.root + .root {
  padding-block: 20px;
}
