@import "../../shared/other-style/mixins";
.root {
  margin-block: 24px 100px;
  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: start;
  }

  &__goods {
    max-width: 1120px;
    width: 100%;

    &__list {
      margin-bottom: 40px;
    }
  }
}
