@import "../../../../shared/other-style/mixins",
  "../../../../shared/other-style/adaptive";

.root {
  @include flex-gap(12px);
  align-items: center;
  --widthItem: 58px;
  --heightItem: 48px;
  justify-content: center;

  &__itemText {
    &__leftIcon {
      transform: rotate(180deg);
    }
    &__button {
      cursor: pointer;
      @include flex-gap(10px);
      align-items: center;
      --duration: 0.2s;

      svg {
        fill: var(--color-gray-light);
        width: 13px;
        height: 13px;
      }
      svg,
      span {
        transition-duration: var(--duration);
        transition-property: fill, color;
      }

      span {
        font-size: 16px;
        font-weight: 500;
        line-height: 24px;
      }

      &:hover {
        svg {
          fill: var(--color-light-violet);
        }
        span {
          color: var(--color-light-violet);
        }
      }
    }
  }

  &__item {
    border-radius: 4px;

    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    border-radius: 32px;

    transition-duration: var(--duration);
    transition-property: background-color color;
    &__doted {
      color: var(--color-white-1);
      @include inline-flex-center;
      width: var(--widthItem);
      height: var(--heightItem);
    }

    &:hover {
      background-color: var(--color-black-2);
      &__doted {
        color: var(--color-white);
      }
    }

    &.isActive {
      &__doted {
        color: var(--color-white);
      }
      background-color: var(--color-light-violet);
      color: var(--color-white);
    }
    &.isDisabled {
      display: none;
    }
  }
}
