@import "../../../../../../shared/other-style/mixins";

.root {
  position: relative;
  width: max-content;

  &__button {
    @include flex-center-beetwen;
    padding: 4px 16px;
    height: 48px;
    min-width: 280px;
    border-radius: 24px;
    background-color: var(--color-black-2);
    color: var(--color-white-opacity60);
    text-align: start;
    cursor: pointer;

    &__text {
      @include flex-column;
    }
  }

  &__placholder {
    color: var(--color-white-opacity60);
    font-size: 16px;

    transition-property: color, transform, font-size;
    transition-duration: var(--duration);

    &.isNotEmpty {
      color: var(--color-light-violet);
      font-size: 12px;
      top: 4px;
    }
  }

  &__icon {
    transform: rotate(-90deg);
    width: 12px;
    height: 12px;

    fill: var(--color-white-opacity40);

    transition-property: transform;
    transition-duration: var(--duration);

    &.isRotate {
      transform: rotate(-270deg);
    }
  }
  &__list {
    position: absolute;
    top: calc(100% + 4px);
    left: 0;
    max-width: 280px;
    width: 100%;
    padding: 8px 0;
    background: var(--color-blue-dark-2);
    box-shadow: 0 32px 32px 0 rgba(0, 0, 0, 0.2), 0 0 32px 0 rgba(0, 0, 0, 0.1);
    border-radius: 16px;

    z-index: 1;
    list-style: none;
    margin: 0;
    overflow: hidden;
    transform-origin: top;
    transform: scale(0);
    transition-property: transform;
    transition-duration: var(--duration);

    &.isOpen {
      transform: scaleY(1);
    }
  }

  &__selected {
    color: var(--color-white-opacity90);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 210px;
  }

  &__checkbox {
    appearance: none;
    opacity: 0;
    display: none;
  }

  &__option {
    transition-property: background-color;
    transition-duration: var(--duration);
    &:hover,
    &.isActive {
      background-color: var(--color-white-opacity6);
    }

    &.isActive {
      svg {
        opacity: 1;
      }
    }
  }

  &__label {
    display: inline-block;
    padding: 8px 20px;
    @include flex-gap(8px);
    align-items: center;
    pointer-events: painted;
    cursor: pointer;
  }

  &__check {
    width: 16px;
    height: 16px;
    fill: var(--color-light-violet);
    transition-property: opacity;
    transition-duration: var(--duration);

    opacity: 0;
  }
}
